<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCaan7lLcmhWLugzc4JY2LUye9zh7D_3hg</string>
	<key>GCM_SENDER_ID</key>
	<string>671937779798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BM-Exam</string>
	<key>PROJECT_ID</key>
	<string>bm-exam</string>
	<key>STORAGE_BUCKET</key>
	<string>bm-exam.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:671937779798:ios:4a3d658631564177b643f7</string>
	<key>DATABASE_URL</key>
	<string>https://bm-exam-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>